h1 {
  color: red;
}

.avatar {
  border-radius: 50%;
}

#bg-img {
  background-image: url(/public/wallpaper.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  background-position: center;
}

.brd-tr {
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  position: relative;

  --animationtop: purple purple purple purple;
  --animationright: purple purple purple purple;
  --animationbottom: white;
  --animationleft: white;
  animation: border-run 3s linear infinite;
}

.brd-tl {
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  position: relative;

  --animationtop: purple purple purple purple;
  --animationright: white;
  --animationbottom: white;
  --animationleft: purple purple purple purple;
  animation: border-run 3s linear infinite;
}

.brd-t,
.brd-t2 {
  border-top: 3px solid #fff;
  position: relative;
  --animationtop: purple purple purple purple;
  --animationright: white;
  --animationbottom: white;
  --animationleft: white;
  animation: border-run 3s linear infinite;
}

.brd-br {
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  position: relative;

  --animationbottom: purple purple purple purple;
  --animationleft: white;
  --animationtop: white;
  --animationright: purple purple purple purple;
  animation: border-run 3s linear infinite;
}
.brd-bl {
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  position: relative;

  --animationbottom: purple purple purple purple;
  --animationright: white;
  --animationtop: white;
  --animationleft: purple purple purple purple;
  animation: border-run 3s linear infinite;
}

.img-profile {
  background-image: url(/public/profile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.brd-bl::after {
  content: "";
  position: absolute;
  top: -1.41%;
  left: -5.5px;
  border: solid #fff;
  border-width: 8px 8px 0 0;
  display: inline-block;
  transform: rotate(45deg);
}

.brd-br::after {
  content: "";
  position: absolute;
  top: -1.41%;
  right: -5.5px;
  border: solid #fff;
  border-width: 8px 8px 0 0;
  display: inline-block;
  transform: rotate(45deg);
}

.brd-tl::after {
  content: "";
  position: absolute;
  bottom: -1.41%;
  left: -5.5px;
  border: solid #fff;
  border-width: 8px 8px 0 0;
  display: inline-block;
  transform: rotate(45deg);
}

.brd-tr::after {
  content: "";
  position: absolute;
  bottom: -1.41%;
  right: -5.5px;
  border: solid #fff;
  border-width: 8px 8px 0 0;
  display: inline-block;
  transform: rotate(45deg);
}

.brd-t::after {
  content: "";
  position: absolute;
  top: -6.5px;
  right: -5.5px;
  border: solid #fff;
  border-width: 8px 8px 0 0;
  display: inline-block;
  transform: rotate(45deg);
}

.brd-t2::after {
  content: "";
  position: absolute;
  top: -6.5px;
  left: -5.5px;
  border: solid #fff;
  border-width: 8px 8px 0 0;
  display: inline-block;
  transform: rotate(45deg);
}

.brd-t2::before {
  content: "";
  position: absolute;
  top: -6.5px;
  right: -5.5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid white;
  transform: rotate(0deg); /* Points the arrow down-right */
  display: inline-block;
}

.brd-t::before {
  content: "";
  position: absolute;
  top: -6.5px;
  left: -5.5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid white;
  transform: rotate(-180deg); /* Points the arrow down-right */
  display: inline-block;
}

.brd-tr::before {
  content: "";
  position: absolute;
  top: -6.5px;
  left: -5.5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid white;
  transform: rotate(180deg); /* Points the arrow down-right */
  display: inline-block;
}

.brd-tl::before {
  content: "";
  position: absolute;
  top: -6.5px;
  right: -5.5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid white;
  transform: rotate(0deg); /* Points the arrow down-right */
  display: inline-block;
}

.brd-bl::before {
  content: "";
  position: absolute;
  bottom: -6px;
  right: -5.5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid white;
  transform: rotate(0deg); /* Points the arrow down-right */
  display: inline-block;
}

.brd-br::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -5.5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid white;
  transform: rotate(-180deg); /* Points the arrow down-right */
  display: inline-block;
}

@keyframes border-run {
  0% {
    border-color: var(--animationleft);
  }
  25% {
    border-color: var(--animationtop); /* Animate top side */
  }
  50% {
    border-color: var(--animationright);
  }
  75% {
    border-color: var(--animationbottom);
  }
  100% {
    border-color: var(--animationleft);
  }
}

.bsd-desc {
  box-shadow: 5px 10px #e490e0;
}

.bg-gradienttoleft {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    to left,
    rgba(2, 0, 36, 1) 0%,
    rgba(133, 96, 121, 1) 100%
  );
}

.bg-gradienttoright {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    to right,
    rgba(2, 0, 36, 1) 0%,
    rgba(133, 96, 121, 1) 100%
  );
}

.no-wrap {
  text-wrap: nowrap;
}
.wrap {
  text-wrap: wrap;
}

.modal-dialog {
  overflow-y: initial !important;
}
.modal-body {
  height: 80vh;
  overflow-y: auto;
}
.position-relative {
  position: relative;
}

.top30 {
  top: 30%;
}

.tl-img-conn {
  width: 35px !important;
}

.tl-noimg-conn {
  top: 18px !important;
  width: 12px !important;
}

.bg-dialog {
  background-color: #f7eaf9;
}

.cont-cen {
  align-content: center !important; /* Vertically center */
}
